
			<div id = "search_view">	
				 <div class="thumbnail">
        				<dl class="dl-horizontal ">
      
                        		 <tr>								
									<td>功能尚未开通</td> <br/>  <br/><br/>   
                        			<td>测试账户名：肖穆</td> <br/>  <br/><br/>   
									<td>测试剩余金额：10000000</td> 
                                 </tr>
                        						
                          </dl>
        			 </div>
			    
	 </div>

                          
